<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactsFR-读取联系人.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D2035641BD4C3BD0045D3C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D2035781BD4C3BD0045D3C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D2035831BD4C3BD0045D3C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
